*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
!/lib/JavaCV09/libdc1394-linux-x86.jar
!/lib/JavaCV09/opencv-linux-x86.jar
!/lib/JavaCV09/artoolkitplus-android-x86.jar
!/lib/JavaCV09/artoolkitplus-windows-x86.jar
!/lib/JavaCV09/javacv.jar
!/lib/JavaCV09/opencv-windows-x86_64.jar
!/lib/JavaCV09/libfreenect-windows-x86_64.jar
!/lib/JavaCV09/ffmpeg-macosx-x86_64.jar
!/lib/JavaCV09/libfreenect-linux-x86_64.jar
!/lib/JavaCV09/opencv-macosx-x86_64.jar
!/lib/JavaCV09/flycapture.jar
!/lib/JavaCV09/artoolkitplus-android-arm.jar
!/lib/JavaCV09/videoinput-windows-x86.jar
!/lib/JavaCV09/ffmpeg-windows-x86.jar
!/lib/JavaCV09/flycapture-windows-x86.jar
!/lib/JavaCV09/flycapture-linux-x86_64.jar
!/lib/JavaCV09/opencv-android-arm.jar
!/lib/JavaCV09/ffmpeg-linux-x86_64.jar
!/lib/JavaCV09/libdc1394.jar
!/lib/JavaCV09/flycapture-windows-x86_64.jar
!/lib/JavaCV09/libfreenect-linux-x86.jar
!/lib/JavaCV09/ffmpeg-linux-x86.jar
!/lib/JavaCV09/artoolkitplus-linux-x86_64.jar
!/lib/JavaCV09/ffmpeg-android-arm.jar
!/lib/JavaCV09/ffmpeg-windows-x86_64.jar
!/lib/JavaCV09/opencv.jar
!/lib/JavaCV09/artoolkitplus-linux-x86.jar
!/lib/JavaCV09/flycapture-linux-x86.jar
!/lib/JavaCV09/videoinput-windows-x86_64.jar
!/lib/JavaCV09/artoolkitplus-macosx-x86_64.jar
!/lib/JavaCV09/artoolkitplus-windows-x86_64.jar
!/lib/JavaCV09/ffmpeg.jar
!/lib/JavaCV09/libfreenect.jar
!/lib/JavaCV09/videoinput.jar
!/lib/JavaCV09/opencv-android-x86.jar
!/lib/JavaCV09/libdc1394-linux-x86_64.jar
!/lib/JavaCV09/libdc1394-macosx-x86_64.jar
!/lib/JavaCV09/ffmpeg-android-x86.jar
!/lib/JavaCV09/artoolkitplus.jar
!/lib/JavaCV09/opencv-linux-x86_64.jar
!/lib/JavaCV09/opencv-windows-x86.jar
!/lib/JavaCV09/libfreenect-windows-x86.jar
!/lib/JavaCV09/javacpp.jar
!/lib/JavaCV09/libfreenect-macosx-x86_64.jar